# .env.ps1.example
# Copy this file to .env.ps1 and update the values

$global:DEPLOY_SERVER_IP = "119.91.71.30"
$global:DEPLOY_USER = "ubuntu"
$global:DEPLOY_KEY_PATH = "path\to\your\private.pem"
$global:REMOTE_APP_DIR = "/home/ubuntu/account"
