openapi: 3.0.3
info:
  title: Account System API
  version: "1.5"
servers:
  - url: https://www.iasbt.cloud/api/rest
paths:
  /profiles:
    get:
      summary: 获取用户列表
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Profile"
        "500":
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user_app_access:
    get:
      summary: 获取访问记录
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserAppAccess"
        "500":
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Profile:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [user, admin]
        avatar_url:
          type: string
    UserAppAccess:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        app_id:
          type: string
        app_name:
          type: string
        last_accessed_at:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
          example: "10001"
        message:
          type: string
          example: "认证失败"
